.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:
    url("https://www.elsevier.com/__data/assets/image/0011/997553/Laptop-iStock.jpg");
  background-size: cover;
}
.loginForm{
  background-color: white;
  width: 500px;
  height: 230px;
  padding: 50px;
}
.loginTitle {
  font-size: 50px;
  font-family: sans-serif;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.loginForm > label {
  margin: 10px 0;
  padding-top:10px;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-bottom: 2px solid;
  border-width: 1px;
outline:none;
font-size: 15px;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled{
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}

.loginRegisterButton {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color:whitesmoke;
  cursor: pointer;
  border: none;
  padding: 10px;
  color:black;
  border-radius: 10px;
}
